@charset "UTF-8";
body {
    font-size: 14px;
    margin: 6px;
    padding: 0px;
    background-color: var(--vscode-editor-background);
}
div {
    margin: 0px;
    padding: 4px;
}
.wrapper {
    height: calc(100vh - 20px);
    display: grid;  
    padding: 4px;
    gap: 4px;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "ai ai"
        "focus calm";
}
.header {
    text-align: center;
    grid-area: header;
}
.ai {
    text-align: center;
    grid-area: ai;
}
.focus {
    text-align: center;
    grid-area: focus;
}
.focus progress {
    accent-color: #4fc553;
}
.calm {
    text-align: center;
    grid-area: calm;
}
.calm progress {
    accent-color: #03a9f4;
}
p {
    margin: 6px 2px 2px 2px;
}
progress {
    width: 80%;
    height: 40%;
}